:root{
    --whidth-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color: #EE4D2D;
    --boder-color: #dbdbdb;
    --star-gold-color:#ffce3d;
    --header-height:120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

*{
    box-sizing: inherit;

}


html {
    font-size: 62.5%;
    line-height: 1.6rem; /* chữ = 16px */
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    
}

body{
    margin: 0%;
}

@keyframes headernotify{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.col-6{
    width: 50%;
}

.nav__input{
    display: none;
}


.modal__overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    left: 0%;
    top: 0%;
    z-index: 1;
}

.modal__body{
    border-radius: 5px;
    display: block;
    margin: auto;
    position: fixed;
    z-index: 1;
    transform: translateY(-120%);
    transition: all 1s;
    top: 0;
    left: 32%;

}


.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--primary-color);
}

.btn.btn--primary {
    color: var(--whidth-color);
    background-color: var(--primary-color);
}

.btn--primary:hover{
    background-color: #e56248;
}

.auth-form__controls-back {
    margin-right: 10px;
    background-color: #ccc;
}

.auth-form__controls-back:hover{
    color: #fff;
    background-color: #777;
    transition: all 0.5s;
}

.btn{
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
}

.btn--with-icon{
    min-width: 160px;
}

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.auth-form-socials-icon1,
.auth-form-socials-icon2{
    margin-right: 6px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 4px;
    outline: none;
}

.fa-eye-slash{
    position: absolute;
    margin-top: 30px;
    right: 50px;
    cursor: pointer;
    font-size: 1.2rem;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.auth-form-socials {
    background-color: #f5f5f5;
    padding: 16px 0;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 14px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #e6e6e6;
}

.auth-form-socials--facebook:hover{
    background-color: #19449b;

}

.auth-form-socials--google:hover{
    color: var(--text-color);
    background-color: #ccc;
    transition: all 0.3s;
}

.auth-form-socials--facebook {
    list-style: none;
    color: var(--whidth-color);
    background-color: #3a5a98;
}

.auth-form-socials--google {
    color: #666;
    background-color: var(--whidth-color);
}

.register__input{
    display: none;
}

.register__input:checked ~ .modal__body,
#log__in:checked ~ .modal__body{
    display: block;
    transform: translateY(10%);
}

#register:checked ~ .modal__overlay,
#log__in:checked ~ .modal__overlay{
    display: block;
    
}

.register__input:checked ~ .modal__body > .auth-form__controls-back,
#log__in:checked ~ .modal__body > .auth-form__controls-back{
    transform: translateY(-120%);

}

.auth-form1{
    height: 478px;
}

.auth-form__controls1{
    margin-bottom: 20px;
}

.auth-form__help-forgot1{
    margin-right: 40px;
}

.auth-form__help{
    margin: 20px 10px 70px;
    display: flex;
    justify-content: flex-end;

}

.auth-form__help--link:hover{
    color: var(--primary-color);
    transition: all 0.3s;
}

.auth-form__help--link{
    text-decoration: none;
    font-size: 1.4rem;
    color: blue;
}


@media (min-width: 1026px){
    .ti-menu {
        display: none;
    }

    .menu__item-close{
        display: none;
    }
}

@media (min-width: 760px) and (max-width: 1025px){
    .ti-menu {
        display: none;
    }

    .menu__item-close{
        display: none;
    }
}

@media (width: 1024px){
    #app{
        overflow: hidden;
    }

    .container{
        padding: 20px;
    }

    .container__avtcon{
        display: none;
    }

    .container__avt-imgchar{
        display: block;
        width: 984px;
        height: 222px;
        border-radius: 20px;
    }

    .header__navbar{
        padding: 16px 12px;
        justify-content: flex-start;
    }

    .header__search{
        width: 550px;
    }

    .header__navbar-menu--item{
        padding-left: 10px;
    }

    .container__avt-img{
        width: 932px;
    }

    .product__cover-char{
        margin-left: 0;
    }

    .product__cover-img {
        width: 170px;
        height: 230px;
    }

    .title__img{
        width: 230px !important;
    }
    
    .product__content {
        top: 152px;
    }

    .product__title {
        font-size: 1.8rem;
    }


    .slick-next{
        right: 26px;
    }

    .title__sub-img{
        width: 300px;
        height: 140px;
    }

    .title__sub-con{
        width: 990px;
    }

    
    .title__sub-slick{
        width: 990px;
    }
    
    .title__sub-slick--con{
        width: 230px;
    }

    .title__sub-slick--char{
        width: 200px;
    }

    .slick__right1{
        left: 158px;
    }

    h2{
        font-size: 2rem;
    }

    .end__md img{
        width: 484px;
        height: 484px;
    }

    .row__wide1-char{
        padding: 0;
        margin: 0;
    }

    .widget{
        margin-right: 20px;
    }
    .widget__title{
        font-size: 1.17rem;
    }

    .container--sm{
        width: 1024px;
    }

    .header__search-con{
        width: 250px;
    }

    .header__search-input{
        width: 174px;
    }

    .menu__item {
        margin-left: 10px;
    }

    .register__input:checked ~ .modal__body, 
    #log__in:checked ~ .modal__body {
        display: block;
        transform: translateY(30%);
    }

    .fas-left, 
    .fas-right{
        transform: translateY(-50%);
        top: 30%;
    }

    .fas-right{
        right: 10px;
    }

    .fas-left{
        left: -7px;
    }
}


@media (max-width: 740px){
    .header__navbar-logocon,
    .header__calendar, .header__user,
    .header__search-btn{
        display: none;
    }

    

    .header__search,
    .header__search-con{
        width: 300px;
    }

    .header__navbar{
        padding: 20px;
        position: fixed;
        width: 414px;
        background-color: #fff;
        z-index: 2;
        box-shadow: 0 2px 0 0 #e7e7e7;
    }

    .header__navbar-menu{
        display: flex;
        align-items: center;
        position: relative;
    }

    .link__icon-menu{
        text-decoration: none;
        display: block;
    }

    .icon-menu{
        font-size: 26px;
        color: #666;
    }

    

    .header__navbar-menu--item{
        display: block;
        position: absolute;
        background-color: #fff;
        padding: 0;
        margin: 0;
        top: 52px;
        width: 300px;
        height: 450px;
        right: 60px;
        border: 1px solid #dbdbdb;
        box-shadow: 0 2px 8px 0 #e7e7e7;
        display: none;

    }
    .header__navbar-menu--item::before{
        display: none;
    }

    .menu__item-nation--menucha{
        width: 260px;
        margin-left: 10px;
        top: 40px;
    }

    .menu__item-nation--menucha::before{
        border-color: transparent transparent var(--whidth-color) transparent;
    }

    .menu__item-nation--menucha1{
        display: block;
    }

    .menu__item-nation--menucon::before{
        display: none;
    }

    .menu__item-nation--con1{
        position: relative;
        padding: 8px;
    }

    .menu__item-link {
        font-size: 1.6rem;
    }

    .icon__angle--down{
        position: absolute;
        right: 14px;
        font-size: 14px;
    }

    .menu__item{
        margin: 20px;
    }

    .container{
        padding:20px;
        position: relative;
        top: 100px;
    }

    .container__avt, .greeting__section,
    .title, .product__is-relative,
    .title__sub-con{
        padding: 0;
    }

    .title__sub-slick{
        margin-left: 0;
    }

    .container__avt-imgchar {
        width: 335px;
        height: 76px;
        display: block;
    }

    .container__avtcon{
        display: none;
    }

    .title__link{
        position: absolute;
        top: 940px;
    } 

    .slick__arrow{
        display: none;
    }

    .slick-prev{
        display: none !important;
    }

    .title__sub-img{
        width: 374px ;
    }

    .title__img{
        margin-right: 12px;
        height: 190px;
    }


    .row{
        display: block;
        padding: 0;

    }

    .row__col-6{
        padding: 0;
    }
    
    .col__row__wide{
        display: none;
    }

    .app-introduce__logo{
        width: 150px;
    }

    .app-introduce__action--con{
        margin: 40px 0;
    }
    

    .row1{
        padding-top: 48px;
        border-top: 1px solid #e7e7e7;
    }

    .row__wide1-avt{
        width: 180px;
    }

    .row__wide1{
        margin: 10px 0;
    }

    .end__md img{
        width: 374px;
        height: 374px;
    }

    h2{
        width: 374px;
        font-size: 2rem;
        font-weight: 700;
    }

    .app-introduce__heading{
        width: 374px;
    }
    
    .widget__char{
        display: none;
    }

    .footer{
        padding: 0 20px;
    }

    .footer__top{
        padding: 90px 0 48px;
    }

    .modal__overlay {
        width: 150%;
    }

    .register__input:checked ~ .modal__body, 
    #log__in:checked ~ .modal__body {
        display: block;
        transform: translateY(10%);

    }
    
}



@media (max-width: 415px){
    .header__search{
        width: 300px;
        margin: 0;
    }

    .header__search-input{
        width: 228px;
    }

    .title__sub-slick--con{
        width: 374px;
        line-height: 1.4;
        margin-top: 16px;
    }
    .row__wide1-char{
        display: block;
        margin: 0;
        padding: 0;
    }

    .title__sub-slick{
        justify-content: flex-start;
    }

    .greeting__section-mb{
        line-height: 1.4;
        width: 348px;
    }

    .title__sub-slick--char {
        width: 200px;
    }

    .container__avt{
        margin: 0;
    }

    .container__avtcon{
        display: none;
    }

    .container__avt-imgchar {
        width: 374px;
        height: 84px;
        display: block;
        border-radius: 20px;
    }

    .product__cover{
        width: 162px;
    }

    .product__cover-char{
        margin: 0;
    }

    .product__cover-img{
        border-radius: 8px;
        width: 174px;
        height: 216px;
    }

    .product__content{
        top: 142px;
    }

    .header__navbar-menu--item{
        display: block;
        position: absolute;
        background-color: #fff;
        padding: 0;
        margin: 0;
        top: -16px;
        width: 300px;
        height: 1000px;
        right: 60px;
        border: 1px solid #dbdbdb;
        box-shadow: 0 2px 8px 0 #e7e7e7;
        transform: translateX(-120%);
        transition: transform linear 0.2s;  /* trượt từ ngoài vào */
        
    }

    .nav__input:checked ~ .header__navbar-menu--item{
        display: block;
        transform: translateX(-14%);
        top: -32px;
    }

    .nav__overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        display: none;
    }

    .nav__input:checked ~ .nav__overlay{
        display: block;
    }

    .menu__item-close{
        position: relative;
        right: 9px;
        font-size: 50px;
        text-decoration: none;
        color: #333;
        top: 18px;
        width: 30px;
        height: 30px;
        
    }
    .btn.btn--size-s{
        justify-content: center;
    }

    .title__link {
        top: 1000px;
    }

    .modal__body{
        left: 20%;
    }

    .auth-form{
        width: auto;
        height: auto;
    }

    .auth-form-socials{
        display: block;
    }

    .btn--size-s{
        margin: 10px;
    }

    .product__cover{
        width: 174px !important;
    }

    .product__title{
        font-size: 1.8rem;
    }

    .title__sub-slick--char{
        margin-left: 0;
    }
    

    .auth-form-socials--google{
        background-color: gray;
        color: #fff;
    }
}

/* ipx */
@media (max-width: 375px){
    .header__search,
    .header__search-con{
        width: 280px;
    }

    .header__navbar-menu{
        right: 42px;
    }

    .container__avt-img{
        width: 335px;
    }

    .greeting__section-title, 
    .extra-bolf{
        line-height: 1.4;
    }

    .product__cover-img{
        width: 162px;
        height: 200px;
    }

    .product__content{
        top: 134px;
    }

    .title__sub-img{
        width: 336px;
        height: 162px;
    }


    .app-introduce__heading{
        width: 336px;
        margin-bottom: 0;
    }

    .app-introduce__action--con{
        margin-top: 20px;
    }

    .end__md img{
        width: 336px;
        height: 336px;
    }

    .title__link {
        top: 1000px;
        padding-top: 30px;
    }


    .row__wide1-char{
        display: block;
    }

    .container__avt-imgchar{
        width: 335px;
        height: 76px;
    }

    .title__sub-slick--con{
        width: 336px;
    }

    .header__navbar-menu--item{
        display: block;
        position: absolute;
        background-color: #fff;
        padding: 0;
        margin: 0;
        top: -16px;
        width: 300px;
        height: 1000px;
        right: 60px;
        border: 1px solid #dbdbdb;
        box-shadow: 0 2px 8px 0 #e7e7e7;
        transform: translateX(-100%);
        transition: transform linear 0.2s;    /* trượt từ ngoài vào */
        
    }
    
    .nav__input:checked ~ .header__navbar-menu--item{
        display: block;
        transform: translateX(0);
    }

    .nav__overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        display: none;
    }

    .nav__input:checked ~ .nav__overlay{
        display: block;
    }

    .modal__body{
        left: 10%;
        z-index: 2;
    }

    .modal__overlay {
        width: 150%;
    }

}

@media (max-width: 320px){
    .header__navbar{
        width: 360px;
    }

    .header__search,
    .header__search-con{
        width: 214px;
    }

    .header__search-input{
        width: 164px;
    }

    .header__navbar-menu--item {
        width: 240px;
    }

    .menu__item-nation--countryname1{
        font-size: 1.2rem;
    }

    .menu__item-nation--menucha{
        width: 185px;
    }

    .menu__item{
        font-size: 1.6rem;
    }

    .btn{
        min-width: 110px;
    }

    .modal__body{
        left: 12px;
        width: 300px;
    }

    .auth-form-socials{
        display: none;
    }

    .auth-form__heading,
    h2 {
        font-size: 1.8rem;
    }

    .auth-form__help--link {
        font-size: 1.2rem;
    }

    .container__avt-imgchar {
        width: 284px;
    }

    .greeting__section-title,
    .extra-bolf{
        font-size: 2rem;
    }

    .greeting__section p,
    .greeting__section-mb,
    .end__md img{
        width: 300px;
    }

    .title__sub-img{
        width: 280px;
        height: 140px;
    }

    .title__link {
        top: 930px;
    }

    .title__sub-slick--con,
    .app-introduce__heading,
    h2 {
        width: 280px;
    }

    .row__wide1-avt {
        width: 140px;
    }

    .end__md{
        padding: 0;
    }
}