body{
   background-color: #e2d7aa;
   color: #000;
   font-size: 16px;
   width: 1180px;
   font-family: Robotom,sans-serif;
   text-align: center;
   margin: auto;

}

.header__navbar-title{
    display: flex;
    justify-content: center;
}

.header__navbar-name{
    list-style: none;
}

.header__navbar-name--link{
    padding-right: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

.header__navbar-hyperlink{
    color: #0a2d4a;
    font-weight: bold;
}

h1{
    font-size: 60px;
    font-family: ‘Indie Flower’, cursive;
}

.contaner__char{
    display: flex;
    justify-content: space-evenly;
}

p{
    text-align: justify;
    width: 345px;
    line-height: 24px;
}

p::first-letter{
    font-size: 40px;
}

.places-item a{
    text-decoration: none;
    color: blue;
}

.places-item1{
    display: flex;
}

.comments{
    background-image: url(./img/242624167_288149266183293_872908620560845168_n.png);
    padding: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.readmore{
    background-image: url(./img/242624167_288149266183293_872908620560845168_n.png);
    margin-left: 18px;
    padding: 10px;
    text-transform: uppercase; 
}

.ti-comment{
    margin-right: 8px;
}

.comments a{
    margin-left: 10px;
}

.comments a,
.readmore a{
    color: #fff;
}


.footer{
    margin-top: 32px;
    margin-bottom: 16px;
}